.emoji-list-app {
  text-align: center;
}

.search-field-wrapper {
  -webkit-backdrop-filter: blur(5x);
  align-items: center;
  backdrop-filter: blur(5x);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7em 3em 1.5em;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}

.deck {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5em;
}

.card {
  display: flex;
  margin: 0.5em;
  padding: 0.5em;
  width: 8em;
}

.card-title {
  cursor: pointer;
  font-size: 3em;
}

.card-text {
  cursor: pointer;
}

.alert {
  bottom: 5px;
  left: 4%;
  position: fixed !important;
  width: 90%;
  z-index: 1;
}

.message {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 6em;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  width: 100%;
}
